body{
    background-color: wheat;
    margin: 50px;}
.th{
    margin-bottom: 50px;
}
.ale{
 padding-left: 32px;
padding-bottom: 30px;   }
.dpi{
    padding-left: 130px;}
.cui{
    padding-left: 130px;}
.date{
    padding-left: 40px;
    padding-bottom: 30px;}
.bab{
   padding-left: 140px;
   padding-bottom: 30px;}
.state{
    padding-right: 50px;}
.casado{
    padding-left: 45px;}
.years{
    padding-left: 190px;}
.edades{
    padding-right: 50px;}
.gmail{
    padding-right: 90px;}
.mail{
    padding-left: 40px;
    margin-top: 30px;}
.cell{
    padding-left: 140px;}
.av{
    padding-left: 140px;
    padding-bottom: 40px;}
.grecia{
    padding-left: 20px;
    padding-bottom: 30px;}
.lugar{
    padding-top: 30px;}
.alejo{
	width: 250px;
    height: 250px;
	margin: 1px 1px 1px 5px;
    float: left;
    
    /* width: 250px;
    height: 250px;
    right: 540px;
    border-radius: 40px; */
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
.peero{
     position: relative; right: 50px ;}


